<form (submit)="onSubmit($event)" class="flex flex-col gap-1 w-full">
  <fieldset class="fieldset w-full">
    <legend class="fieldset-legend text-[15px]">Correo Electronico</legend>
    <input
      type="text"
      class="input w-full"
      placeholder="correo@ejemplo.com"
      [formField]="loginForm.email"
    />
    <p class="label text-red-500">
      @if (loginForm.email().errors() && loginForm.email().touched()) {
        @for (error of loginForm.email().errors(); track error) {
          {{ error.message }}
        }
      }
    </p>
  </fieldset>

  <fieldset class="fieldset w-full">
    <legend class="fieldset-legend text-[15px]">Contraseña</legend>
    <input
      type="password"
      class="input w-full"
      placeholder="********"
      [formField]="loginForm.password"
    />
    <p class="label text-red-500">
      @if (loginForm.password().errors() && loginForm.password().touched()) {
        @for (error of loginForm.password().errors(); track error) {
          {{ error.message }}
        }
      }
    </p>
  </fieldset>
  <div class="flex justify-between items-center">
    <fieldset class="fieldset">
      <label class="label text-sm">
        <input type="checkbox" checked="checked" class="checkbox" />
        Recordar correo
      </label>
    </fieldset>
    <a class="link link-hover text-sm text-blue-700">¿Olvidaste tu contraseña?</a>
  </div>
  <button class="btn btn-primary mt-5">Iniciar sesión</button>
  <div class="mt-5">
    <p class="text-sm text-slate-500">
      ¿No tienes una cuenta?
      <a class="link link-hover text-blue-700">Regístrate</a>
    </p>
  </div>
</form>
